extends ../base.pug

block variables
    - var template = 'collections'

block content
    .collections(data-background="#BC97BC", data-color="#F9F1E7")
        .collections_wrapper
            .collections_titles
                each collection, index in collections
                    .collections_titles_label!=`Collection<br>${numToWord((index))}`
                    .collections_titles_title=collection.data.title

            .collections_gallery
                .collections_gallery_wrapper
                    each collection, index in collections
                        each product in collection.data.products
                            a.collections_gallery_link(href=Link(product.products_product))
                                figure.collections_gallery_media(data-index=index)
                                    img.collections_gallery_media_image(alt=product.products_product.data.image.alt data-src=product.products_product.data.image.url)

            .collections_content
                each collection, index in collections
                    article.collections_article(class=`${index === 0 ? 'collections_article--active' : ''}`)
                        h2.collections_article_title=`${collection.data.title} Collection`
                        p.collections_article_description=collection.data.description

            .collections_mobile
                each collection, index in collections
                    .collections_mobile_item
                        .collections_mobile_item_label!=`Collection<br>${numToWord(index)}`
                        .collections_mobile_item_title=collection.data.title